<div class="mx-auto" style="width: 70%;">
    <h1 class="display-2 text-center">
        Insurance claim #<%= claimData.id %>
    </h1>
    
    
    <p class="h4 text-center">
        Owner details
    </p>
    
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Date</th>
                <td><%= claimData.date %></td>
            </tr>
        </tbody>
    </table>
    
    <p class="h4 text-center">
        Insurance claim details
    </p>
    
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Date</th>
                <td><%= claimData.date %></td>
            </tr>
            <tr>
                <th scope="row">Treatment from</th>
                <td><%= claimData.treatment_from %></td>
            </tr>
            <tr>
                <th scope="row">Treatment to</th>
                <td><%= claimData.treatment_to %></td>
            </tr>
            <tr>
                <th scope="row">Clinic</th>
                <td><%= claimData.hospital_clinic %></td>
            </tr>
            <tr>
                <th scope="row">Total price</th>
                <td><%= claimData.invoice_total %></td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td><%= claimData.description %></td>
            </tr>
        </tbody>
    </table>
    
    <button type="button" class="btn btn-outline-secondary">Download Vet report</button>
    
    <!-- Form -->
    <form class="form-horizontal" action="/updateClaim" method="POST">
        <fieldset>
            <!-- Button Drop Down -->
            <label for="buttondropdown">Type in all action codes, use comma without spaces if you need to add multiple codes</label>
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="buttondropdown" name="codes" class="form-control" placeholder="39U5,64PP,..." type="text" required>
                    </div>
                </div>
            </div>
            <input id="prodId" name="claimId" type="hidden" value="<%= claimData.id %>">
            <div class="form-group">
                <label for="exampleFormControlSelect2">Choose a corresponding vet</label>
                <select multiple class="form-control" id="exampleFormControlSelect2" name="vet" required>
                    <% for (let i = 0; i < vets.length; i++) { %>
                        <option>
                            <%= vets[i].id %>:
                            <%= vets[i].first_name %>
                            <%= vets[i].last_name %>,
                            <%= vets[i].address %>
                        </option>
                        <% } %>
                </select>
            </div>
            
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" type="submit" class="btn btn-success">Check codes & set Vet</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>