<div class="mx-auto" style="width: 70%;">
  <h1 class="display-2 text-center">
    Insurance claim #<%= claimData.id %>
  </h1>
  
  
  <p class="h4 text-center">
    Owner details
  </p>
  
  <table class="table">
    <colgroup>
      <col class="col-md-3">
      <col class="col-md-8">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row">Owner</th>
        <td><%= claimData.owner_id.first_name %> <%= claimData.owner_id.last_name %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= claimData.owner_id.emailAddress %></td>
      </tr>
      <tr>
        <th scope="row">Date of birth</th>
        <td><%= claimData.owner_id.date_of_birth %></td>
      </tr>
      <tr>
        <th scope="row">Client since</th>
        <td><%= claimData.owner_id.client_since %></td>
      </tr>
    </tbody>
  </table>
  
  <p class="h4 text-center">
    Insurance claim details
  </p>
  
  <table class="table">
    <colgroup>
      <col class="col-md-3">
      <col class="col-md-8">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row">Date</th>
        <td><%= claimData.date %></td>
      </tr>
      <tr>
        <th scope="row">Treatment from</th>
        <td><%= claimData.treatment_from %></td>
      </tr>
      <tr>
        <th scope="row">Treatment to</th>
        <td><%= claimData.treatment_to %></td>
      </tr>
      <tr>
        <th scope="row">Clinic</th>
        <td><%= claimData.hospital_clinic %></td>
      </tr>
      <tr>
        <th scope="row">Total price</th>
        <td><%= claimData.invoice_total %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= claimData.description %></td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td><%= claimData.state_id.state %></td>
      </tr>
    </tbody>
  </table>
  
  <p class="h4 text-center">
    Vet details
  </p>
  
  <table class="table">
    <colgroup>
      <col class="col-md-3">
      <col class="col-md-8">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row">Vet</th>
        <td><%= claimData.vet_id.first_name %> <%= claimData.vet_id.last_name %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= claimData.vet_id.emailAddress %></td>
      </tr>
      <tr>
        <th scope="row">Address</th>
        <td><%= claimData.vet_id.address %></td>
      </tr>
      <tr>
        <th scope="row">Phone</th>
        <td><%= claimData.vet_id.phone_number %></td>
      </tr>
      <% if (claimData.vet_id.bank_account != '') { %>
        <tr>
          <th scope="row">Bank account</th>
          <td><%= claimData.vet_id.bank_account %></td>
        </tr>
        <% } else {%>
          <tr>
            <th scope="row">Bank account</th>
            <td>Not provided!</td>
          </tr>
          <% } %>
        </tbody>
      </table>
      
      <button type="button" class="btn btn-outline-secondary">Download Vet report</button>
      
      <p class="h4 text-center">
        Summary
      </p>

      <%= codesStatusText %>
      <br>
      <%= priceStatusText %>

      <p class="h4 text-center">
        Decision
      </p>
      


      <!-- Form -->
    <form class="form-horizontal" method="GET">
      <fieldset>
        <input id="prodId" name="claimId" type="hidden" value="<%= claimData.id %>">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Accept</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Send to supervisor</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline3">Reject</label>
          </div>
          <!-- Button -->
          <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                  <button id="singlebutton" type="submit" class="btn btn-primary">Send</button>
              </div>
          </div>
      </fieldset>
  </form>
</div>
    