
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->

<!-- jQuery library -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
<div class="mx-auto" style="width: 70%;">
    <h1 class="display-2 text-center">
        Insurance claim #<%= claimData.id %>
    </h1>
    
    
    <p class="h4 text-center">
        Owner details
    </p>
    
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Date</th>
                <td><%= claimData.date %></td>
            </tr>
        </tbody>
    </table>
    
    <p class="h4 text-center">
        Insurance claim details
    </p>
    
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Date</th>
                <td><%= claimData.date %></td>
            </tr>
            <tr>
                <th scope="row">Treatment from</th>
                <td><%= claimData.treatment_from %></td>
            </tr>
            <tr>
                <th scope="row">Treatment to</th>
                <td><%= claimData.treatment_to %></td>
            </tr>
            <tr>
                <th scope="row">Clinic</th>
                <td><%= claimData.hospital_clinic %></td>
            </tr>
            <tr>
                <th scope="row">Total price</th>
                <td><%= claimData.invoice_total %></td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td><%= claimData.description %></td>
            </tr>
        </tbody>
    </table>
    
    <button type="button" class="btn btn-outline-secondary">Download Vet report</button>
    
    <!-- Form -->
    <form class="form-horizontal">
        <fieldset>
            <!-- Button Drop Down -->
            <label for="buttondropdown">Type in all action codes</label>
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="39U5" type="text">
                    </div>
                </div>
            </div>
            
            <!-- Button Drop Down -->
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="98U6" type="text">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlSelect2">Choose a corresponding vet</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-success">Check codes</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- $('#select').empty();
    $.each(options, function(i, p) {
        $('#select').append($('<option></option>').val(p).html(p));
    }); -->